body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin:2%;
}
.info{
    float: left;
    margin: 2%;
    border : 3px purple solid;
    width: 350px;
    line-height: 20px;
}
.photo{
    width: 104px;
    height: 135px;
    float: left;
    margin: 2%;
    border: 4px purple solid;
}
h1{
    text-decoration: underline purple;
}
.Qualités{
    clear: both;
    color: purple;
    text-decoration: underline purple;
}
.FORMATION{
    text-align: left;
}
h2 {
    color: rgb(12, 12, 12);
    width: 100%; 
    text-align: left; 
    border-bottom: 5px solid purple; 
    line-height: 2em;
    margin: 10px 0 20px; 
}
.gocentre{
    width: 20%;
    float:left;
    padding : 2%;
}
.center{
    text-align: left;
    text-decoration: underline purple;
    font-weight: bold;
    color: purple;
}
.centre{
    text-align: left;
    list-style-type: none;
}
.gauche{
    text-align: left;
    text-decoration: underline purple;
    font-weight: bold;
    color: purple;  
}
.left{
    list-style-type: none;
    margin-left: 0px;
}

.container-fluid{
    margin-top: 50px;
    border: 4px purple solid;
    width: auto;
    height: auto;
    padding-top: 20px;
}
li{
    margin: 10px 0px 10px;
}


a{
    color: blue;
}
a:hover{
    color: purple;
}
body{
    background-color:papayawhip;
    }
span{
    font-style: italic;
    color: purple;
}
